webservice_client_all_types/wsdlsrc/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://service.test1/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.test1/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.test1/">
    <wsdl:documentation>Calculator</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.test1/xsd">
            <xs:element name="getArrayAddInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="a" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArrayAddIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedStringArr">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="str" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedStringArrResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="b" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedLong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:double"/>
                        <xs:element minOccurs="0" name="b" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedLongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:int"/>
                        <xs:element minOccurs="0" name="b" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedFlaot">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:float"/>
                        <xs:element minOccurs="0" name="b" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddedFlaotResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAddedStringArrRequest">
        <wsdl:part name="parameters" element="ns:getAddedStringArr"/>
    </wsdl:message>
    <wsdl:message name="getAddedStringArrResponse">
        <wsdl:part name="parameters" element="ns:getAddedStringArrResponse"/>
    </wsdl:message>
    <wsdl:message name="getAddedLongRequest">
        <wsdl:part name="parameters" element="ns:getAddedLong"/>
    </wsdl:message>
    <wsdl:message name="getAddedLongResponse">
        <wsdl:part name="parameters" element="ns:getAddedLongResponse"/>
    </wsdl:message>
    <wsdl:message name="getAddedIntRequest">
        <wsdl:part name="parameters" element="ns:getAddedInt"/>
    </wsdl:message>
    <wsdl:message name="getAddedIntResponse">
        <wsdl:part name="parameters" element="ns:getAddedIntResponse"/>
    </wsdl:message>
    <wsdl:message name="getAddedFlaotRequest">
        <wsdl:part name="parameters" element="ns:getAddedFlaot"/>
    </wsdl:message>
    <wsdl:message name="getAddedFlaotResponse">
        <wsdl:part name="parameters" element="ns:getAddedFlaotResponse"/>
    </wsdl:message>
    <wsdl:message name="getArrayAddIntRequest">
        <wsdl:part name="parameters" element="ns:getArrayAddInt"/>
    </wsdl:message>
    <wsdl:message name="getArrayAddIntResponse">
        <wsdl:part name="parameters" element="ns:getArrayAddIntResponse"/>
    </wsdl:message>
    <wsdl:message name="getAddedStringRequest">
        <wsdl:part name="parameters" element="ns:getAddedString"/>
    </wsdl:message>
    <wsdl:message name="getAddedStringResponse">
        <wsdl:part name="parameters" element="ns:getAddedStringResponse"/>
    </wsdl:message>
    <wsdl:portType name="CalculatorPortType">
        <wsdl:operation name="getAddedStringArr">
            <wsdl:input message="axis2:getAddedStringArrRequest" wsaw:Action="urn:getAddedStringArr"/>
            <wsdl:output message="axis2:getAddedStringArrResponse" wsaw:Action="urn:getAddedStringArrResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAddedLong">
            <wsdl:input message="axis2:getAddedLongRequest" wsaw:Action="urn:getAddedLong"/>
            <wsdl:output message="axis2:getAddedLongResponse" wsaw:Action="urn:getAddedLongResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAddedInt">
            <wsdl:input message="axis2:getAddedIntRequest" wsaw:Action="urn:getAddedInt"/>
            <wsdl:output message="axis2:getAddedIntResponse" wsaw:Action="urn:getAddedIntResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAddedFlaot">
            <wsdl:input message="axis2:getAddedFlaotRequest" wsaw:Action="urn:getAddedFlaot"/>
            <wsdl:output message="axis2:getAddedFlaotResponse" wsaw:Action="urn:getAddedFlaotResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getArrayAddInt">
            <wsdl:input message="axis2:getArrayAddIntRequest" wsaw:Action="urn:getArrayAddInt"/>
            <wsdl:output message="axis2:getArrayAddIntResponse" wsaw:Action="urn:getArrayAddIntResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAddedString">
            <wsdl:input message="axis2:getAddedStringRequest" wsaw:Action="urn:getAddedString"/>
            <wsdl:output message="axis2:getAddedStringResponse" wsaw:Action="urn:getAddedStringResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoap11Binding" type="axis2:CalculatorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAddedStringArr">
            <soap:operation soapAction="urn:getAddedStringArr" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedInt">
            <soap:operation soapAction="urn:getAddedInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedLong">
            <soap:operation soapAction="urn:getAddedLong" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArrayAddInt">
            <soap:operation soapAction="urn:getArrayAddInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedFlaot">
            <soap:operation soapAction="urn:getAddedFlaot" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedString">
            <soap:operation soapAction="urn:getAddedString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculatorSoap12Binding" type="axis2:CalculatorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAddedStringArr">
            <soap12:operation soapAction="urn:getAddedStringArr" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedInt">
            <soap12:operation soapAction="urn:getAddedInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedLong">
            <soap12:operation soapAction="urn:getAddedLong" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArrayAddInt">
            <soap12:operation soapAction="urn:getArrayAddInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedFlaot">
            <soap12:operation soapAction="urn:getAddedFlaot" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedString">
            <soap12:operation soapAction="urn:getAddedString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculatorHttpBinding" type="axis2:CalculatorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAddedStringArr">
            <http:operation location="Calculator/getAddedStringArr"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAddedStringArr"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAddedStringArr"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedInt">
            <http:operation location="Calculator/getAddedInt"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAddedInt"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAddedInt"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedLong">
            <http:operation location="Calculator/getAddedLong"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAddedLong"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAddedLong"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArrayAddInt">
            <http:operation location="Calculator/getArrayAddInt"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getArrayAddInt"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getArrayAddInt"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedFlaot">
            <http:operation location="Calculator/getAddedFlaot"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAddedFlaot"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAddedFlaot"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddedString">
            <http:operation location="Calculator/getAddedString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAddedString"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAddedString"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Calculator">
        <wsdl:port name="CalculatorHttpSoap11Endpoint" binding="axis2:CalculatorSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Calculator.CalculatorHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CalculatorHttpSoap12Endpoint" binding="axis2:CalculatorSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Calculator.CalculatorHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CalculatorHttpEndpoint" binding="axis2:CalculatorHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Calculator.CalculatorHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
